<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cooly cool site</title>
</head>
<body>
    <style>
        .quadro{
            display: inline-block;
            width: 100px;
            height: 100px;
            background: purple;
            border: 5px solid green;
            color: yellow;
        }

        header{
            width: 100%;
            height: 40px;
            background: violet;
        }
    </style>

    <header>
        <h1>My cooly cool site</h1>
    </header>

    {% block content %}

    {% endblock %}

</body>
</html>